.avatar {
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}

.chatLine {
    display: block;
    height: fit-content;
    margin-bottom: 5px !important;
    margin-top: 5px;
}

.chatText {
    color: black;
    border: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    width: fit-content;
    word-wrap:break-word; 
    max-width: 80%;
    text-align: left;

}

.chatWindowFrame {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width:none !important;
}

.chatName {
    color: black;
    font-size: 15px;
}

.chatTime {
    margin-left: 10px;
    margin-right: 10px;
}

.chatLineName {
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: fit-content;
    align-items: center;
    margin-left: 10px !important; 
    margin-right: 10px !important;
}

.chatLineMessage {
    margin-bottom: 0px !important;
    width: 100%;
    height: fit-content;
}

.btn-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    margin-right: 20px;
}

.small-icon {}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.overlay{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 80;
}

.welcomeWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.plane-bomb-screen{
    width: 60%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.grid-cell{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 2px;
    margin-left: 2px;
}

.grid-row{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background: rgb(194, 194, 194);
    padding: 10px;
    border-radius: 5px;
}